apiVersion: apps/v1
kind: Deployment
metadata:
  name: service1
  labels:
    app: nginx
spec:
  # selector:
  #   matchLabels:
  #     app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:stable
          ports:
            - name: http