# kustomization.yaml
resources:
- ../base

namespace: kustomize
namePrefix: nop-
#
labels:
  - pairs:
      app: my-service1
      env: nop
      x: "y"


# Patch using Inline Strategic Merge: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/#patch-using-inline-strategic-merge
# patches:
#   - patch: |-
#       apiVersion: apps/v1
#       kind: Deployment
#       metadata:
#         name: dummy-app
#         labels:
#           app.kubernetes.io/version: 1.21.0      
#   - patch: |-
#       apiVersion: apps/v1
#       kind: Deployment
#       metadata:
#         name: not-used
#       spec:
#         template:
#           spec:
#             containers:
#               - name: nginx
#                 image: nginx:1.21.0      
#     target:
#       labelSelector: "app.kubernetes.io/name=nginx"

# Patch using Inline JSON6902: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/#patch-using-inline-json6902
# patches:
#   - patch: |-
#       - op: add
#         path: /metadata/labels/app.kubernetes.io~1version
#         value: 1.21.0      
#     target:
#       group: apps
#       version: v1
#       kind: Deployment
#   - patch: |-
#       - op: replace
#         path: /spec/template/spec/containers/0/image
#         value: nginx:1.21.0      
#     target:
#       labelSelector: "app.kubernetes.io/name=nginx"

# Patch using Path Strategic Merge: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/#patch-using-path-strategic-merge
# patches:
#   - path: add-label.patch.yaml
#   - path: fix-version.patch.yaml
#     target:
#       labelSelector: "app.kubernetes.io/name=nginx"

# Patch using Path JSON6902: https://kubectl.docs.kubernetes.io/references/kustomize/kustomization/patches/#patch-using-path-json6902     
#patches:
#  - path: add-label.patch.json
#    target:
#      name: service1
#      kind: Deployment
  # - path: fix-version.patch.yaml
  #   target:
  #     labelSelector: "app=nginx"
  # - patch: |-
  #     - op: add
  #       path: /metadata/labels/xxx
  #       value: nginx:1.21.0
  #   target:
  #     version: networking.istio.io/v1alpha3
  #     kind: VirtualService
  #     name: helloworld
  #- path: vs.patch.yaml
#  - patch: |-
#      kind: VirtualService
#      apiVersion: networking.istio.io/v1alpha3
#      metadata:
#        name: helloworld
#        namespace: helloworld
#      spec:
#        hosts:
#          - gregegehehehhelloworld.lan
#        http:
#          - route:
#              - destination:
#                  host: fefefefefef


images:
- name: nginx
  newName: nginx
  newTag: "alpine3.20"